:root {
    --cor-primaria-azul: #00aaff; /**/
    --cor-primaria-amarelo: #ffe100; /**/
    --cor-da-sombra: rgba(0, 0, 0, 0.25); /**/
    --cor-branca: white; /**/
    --cor-preto: black; /**/
    --cor-amarelo-gradiente: linear-gradient(45deg, #fffbd5, #ffe680, #f4b400, #ff7e00); /**/
    --cor-cinza-transparente: rgba(255, 255, 255, 0.3); /**/
    --cor-cinza-puro: #333333;
    --cor-amarelo-claro: #fff9e6;
    --cor-amarelo-escuro: #e6b800;
    --cor-azul-claro: #00c3e3;
    --cor-cinza-azul: #f0f4f8;
    --cor-fundo-principal: linear-gradient(to bottom, #fce76c, #00c3e3);
    --cor-azul-escuro: #0056b3;
    --cor-ciano: #38c6c6;
}