<footer> 
    <nav>
        <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
        </ul>
    </nav>
        <p class="rodape-direitos">Copyright © 2025 – Todos os Direitos Reservados.</p>
</footer>

<style>
    
footer {
    width: 100%;
    background: transparent;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    color: var(--cor-branca);
    margin-top: 40px;
}
  
footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

footer li {
  display: inline-block;
  margin: 0 10px;
}

footer a {
  color: var(--cor-branca);
  text-decoration: none;
}

.rodape-direitos {
  margin-top: 10px;
  color: var(--cor-branca);
}
</style>