 <!---
    <header>
   <div id="header-container"></div>
    </header>

<script>
    fetch('../components/header.html')
    .then(response => response.text())
    .then(data => {
        document.getElementById('header-container').innerHTML = data;
    });
</script> -->

<script src="../js/header.js"></script>
<script src="../js/tema.js"></script>
<link rel="stylesheet" href="../css/header.css" />


<header id="header-container" class="header">
      <a href="../pages/index.html"> <img id="logo" src="../assets/img/apple-touch-icon.png" alt="Logo Wayback" ></a>
      <a id="icon-bars" onclick="if (document.querySelector('.menu').classList.contains('ativado')) 
        {document.querySelector('.menu').classList.add('desativado'); document.querySelector('.menu').classList.remove('ativado'); 
        setTimeout(() => {document.querySelector('.menu').classList.remove('desativado'); document.body.style.overflow = ''}, 350);}
        else {document.body.style.overflow = 'hidden';document.querySelector('.menu').classList.remove('desativado'); 
        document.querySelector('.menu').classList.add('ativado');};
        document.querySelector('.fa-bars').classList.toggle('fa-xmark');"><i class="fa-solid fa-bars"></i></a>
      <div class="menu">
        <nav class="opcoes">
            <a href="../pages/procurar.html" class="fa fa-search" aria-hidden="true">&nbsp;&nbsp;PROCURAR</a>  
            <a href="../pages/publicar.html" class="fa fa-paper-plane" aria-hidden="true">&nbsp;&nbsp;PUBLICAR</a>
            <a href="../pages/perfil.html" class="fa fa-user" aria-hidden="true">&nbsp;&nbsp;PERFIL</a>
        </nav>
        <a href="../pages/login.html" id="btn_login" aria-hidden="true">&nbsp;&nbsp;LOGIN</a>
        <i class="fa-solid fa-moon" title="Modo Escuro ou Claro" id="alternar-tema"></i>
      </div>
    </header>
