* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 80px;
  background: var(--cor-fundo-principal); /* NOVA VAR */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

h1 {
  color: var(--cor-branca);
  font-size: 42px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 400px;
}

label {
  color: var(--cor-branca);
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="password"],
.btn-cadastrar {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.btn-cadastrar {
  background-color: var(--cor-primaria-amarelo); /* substituído */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-cadastrar:hover {
  transform: scale(1.05);
}

hr {
  margin: 30px 0 10px;
  width: 100%;
  max-width: 400px;
  border: 2px solid var(--cor-preto);
}

.login-link {
  text-align: center;
  color: var(--cor-branca);
  font-weight: bold;
  font-size: 16px;
}

.login-link a {
  color: var(--cor-branca);
  text-decoration: none;
  margin-left: 5px;
}

.login-link a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  background: transparent;
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
  color: var(--cor-branca);
  margin-top: 40px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

footer li {
  display: inline-block;
  margin: 0 10px;
}

footer a {
  color: var(--cor-branca);
  text-decoration: none;
}

.rodape-direitos {
  margin-top: 10px;
}
