      
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  padding: 5px 30px;
  background-color: var(--cor-marrom);
  background-size: 200% 200%;
  box-shadow: 0 8px 20px var(--cor-da-sombra);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: background 0.5s ease;
}

#logo {
  height: 80px;
  width: auto;
}

#icon-bars {
  display: none;
  font-size: 24px;
  color: var(--cor-branca);
  transition: transform 0.3s;
  z-index: 10;
}

#icon-bars:hover {
  transform: scale(1.2);
}

.menu {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.menu > * {
  font-size: clamp(12px, 1vw, 16px);
  color: black;
  transition: color 0.3s ease;
}

.menu nav *:hover {
  color: var(--cor-primaria-amarelo);
}

#btn_login {
  background: var(--cor-bege);
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px var(--cor-da-sombra);
}

#btn_login:hover {
  transform: translateY(-2px);
}

.opcoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 2px;
  column-gap: 40px;
}

.opcoes > a {
  position: relative;
  padding: 10px 0px;
  text-decoration: none;
  color: var(--cor-branca);
}

.opcoes > a::after {
  position: absolute;
  content: "";
  background-color: var(--cor-primaria-amarelo);
  height: 2px;
  width: 0;
  bottom: 0;
}

.opcoes > a:hover::after {
  animation: navBarAnimation 0.3s linear forwards;
}

@keyframes navBarAnimation {
  from {
    left: 50%;
    width: 0%;
  }
  to {
    left: 0%;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }

  #icon-bars {
    display: inline;
  }
  
  .ativado *, .desativado * {
    color: var(--cor-preto) !important;
  }
  
  .ativado, .desativado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    position: fixed;
    background-color: var(--cor-cinza-transparente);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid var(--cor-cinza-transparente);
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .ativado {
    animation: deslizarParaEsquerda 0.4s ease-out;
  }
  
  .desativado {
    animation: deslizarParaDireita 0.4s ease-out forwards;
  }
  
  
  /* conteiner contendo os link de paginas */
  .opcoes {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 50%;
    padding: 5px;
  }

  /* btn de login para celular */
  #btn_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
  }
}

@keyframes deslizarParaEsquerda {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes deslizarParaDireita {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);

  }
}

.fa-moon {
  font-size: 15px;
  color: var(--cor-branca);
  border: 2px solid ;
  padding: 10px 10px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 8px var(--cor-da-sombra);  
}

.fa-sun {
 font-size: 15px;
  color: var(--cor-branca);
  border: 2px solid ;
  padding: 10px 10px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 8px var(--cor-branca);  
}